.home {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.title{
    width: 100%;
    height: 100px;
}

ul {
  width: 50%;
  margin: 0 auto;
}

li {
  text-align: center;
}